<h1>Student Chess</h1>
<% if current_user %>
  <h3>You are logged in as <%= current_user.email %></h3>
  <br>
  <h3>You can choose your opponent below:</h3>

  <%= render partial: "layouts/players" %>


<% else %>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-outline-success' %>
<% end %>
