<div class="container mt-4">

  <%= render @game %>

  <div class="mt-4">
    <%= link_to "Back to Lobby", root_path, class: "btn btn-primary mr-2" %>

    <%= button_to "Stop This Game", @game, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
