<% @users.each do |user| %>
  <% games = current_user.game_in_progress_with(user) %>
  <% if games.any? %>
    <div class="user-games-info">
      <p>You are playing <%= games.count %> game<%= 's' if games.count > 1 %> with <%= user.email %> </p>
      <% games.each_with_index do |game, index| %>
        <%= link_to "Continue Game#{' ' + (index + 1).to_s if games.count > 1}", game_path(game), class: "btn btn-primary btn-sm mr-2" %>
      <% end %>
    </div>
  <% end %>
<% end %>
